head, html{
    margin: 0;
    width: 100%;
}

.gallery{
    width: 450px;
    margin: 5% auto;
    transition: display 1s ease .5s;
}

.images{
    position: relative;
    min-height: 305px;
}
.gallery .headers{
    text-align: center;
}

.gallery .headers a{
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.gallery .images div:target{
    z-index: 3;
}
.gallery .images > div{
    position: absolute;
    top: 0;
    left: 0;
}
.gallery .images div:first-child{
    z-index: 2;
}

.gallery .headers a{
    color:grey;
}

img{
    height: 300px;
    width: auto;
}